<div class="container">
    <br><br><br><br>
    <h3 class="text-center mt-5 mb-5">
        <b>List of Notes</b>
    </h3>
    <table class="table">
        <thead>
            <tr>
                <th>Id
                    <span class="material-icons"></span>
                </th>
                <th>Title
                    <span class="material-icons"></span>
                </th>
                <th>Category
                    <span class="material-icons"></span>
                </th>
                <th>Content
                    <span class="material-icons"></span>
                </th>
                <th>LastUpdated
                    <span class="material-icons"></span>
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let note of noteInfoList">
                <th scope="row">{{note.id}}</th>
                <td>{{note.title}}</td>
                <td>{{note.noteCategory.name}}</td>
                <td>{{note.content}}</td>
                <td>{{note.createdAt}}</td>
                <td>
                    <button class="btn btn-small modal-trigger btn modal-close waves-effect waves-green green"
                        href="#editGroupNoteInfoModal" (click)="editNoteInfo(note.id)"><span class="material-icons left"
                            title="Edit">edit</span></button>&nbsp;
                    <button class="btn btn-small modal-trigger btn btn-small waves-effect waves-red red"
                        href="#deleteGroupNoteInfoModal" (click)="deleteNoteInfo(note.id)"><span class="material-icons left"
                            title="Delete">delete</span></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div id="editGroupNoteInfoModal" class="modal">
    <form [formGroup]="noteInfoGroup" class="row mb-0" (ngSubmit)="onSubmitEditNoteInfo()">
        <div class="modal-content">
            <h3><b>Note Info</b></h3>
            <hr>
            <div class="row">
                <br>
                <div class="col s12">
                    <input id="id" #id formControlName="id" type="hidden" class="validate">
                    <div class="input-field">
                        <select class="browser-default" id="category" #category formControlName="category">
                            <option value="0">Select Note Category</option>
                            <option *ngFor="let category of noteCategoeyList" [value]="category.id">
                                {{ category.name }}
                            </option>
                        </select>

                    </div>
                    <div class="input-field">
                        <input id="title" #title formControlName="title" type="text" class="validate" required>
                        <label for="title">Title</label>
                    </div>
                    <div class="input-field">
                        <input id="content" #content formControlName="content" type="text" class="validate" required>
                        <label for="content">Content</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn modal-close waves-effect waves-green green"><i
                    class="material-icons left">save</i>Submit</button>&nbsp;&nbsp;
            <button type="button" class="btn modal-close waves-effect waves-red red"><i
                    class="material-icons left">close</i>Close</button>
        </div>
    </form>
</div>

<div id="deleteGroupNoteInfoModal" class="modal">
    <form [formGroup]="noteInfoGroup" class="row mb-0" (ngSubmit)="submitDeleteNoteInfo()">
        <div class="modal-content">
            <h3><b>Note Info</b></h3>
            <hr>
            <div class="row">
                <br>
                <div class="col s12">
                    <input id="id" #id formControlName="id" type="hidden" class="validate">
                    <h1>Are you sure you want to delete the selected Note ?</h1>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn modal-close waves-effect waves-green green"><i
                    class="material-icons left">save</i>Submit</button>&nbsp;&nbsp;
            <button type="button" class="btn modal-close waves-effect waves-red red"><i
                    class="material-icons left">close</i>Close</button>
        </div>
    </form>
</div>